[submodule "mem-monitor"]
	path = mem-monitor
	url = git@github.com:Gruncan/mem-monitor.git
[submodule "meta-donn"]
	path = meta-donn
	url = git@github.com:Gruncan/meta-donn.git
[submodule "rannoch"]
	path = rannoch
	url = git@github.com:Gruncan/rannoch.git
[submodule "mem-presser"]
	path = mem-presser
	url = git@github.com:Gruncan/mem-presser.git
[submodule "donn-eitean"]
	path = donn-eitean
	url = git@github.com:Gruncan/donn-eitean.git
